[submodule "Week1/lib/forge-std"]
	path = Week1/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Week1/lib/openzeppelin-contracts"]
	path = Week1/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Week2/lib/forge-std"]
	path = Week2/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Week2/lib/openzeppelin-contracts"]
	path = Week2/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Week3-6/lib/forge-std"]
	path = Week3-6/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Week3-6/lib/solady"]
	path = Week3-6/lib/solady
	url = https://github.com/vectorized/solady
